*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	background-color: #ffcee5;
}
#header{
	height: 300px;
	background-color: #fff;
	color: #ffcee5;
	text-align: center;
	font-size: 130px;
	font-family: Brushscript BT, cursive;
	line-height: 300px;
	overflow: hidden;
}
#header img{
    position: relative;
    top: -320px;	
}
#gnb_box{
	padding: 50px 0;
	text-align: center;
}
#gnb{
   display: inline-block;	
   background: #fff;
   padding: 0 20px;
   border-radius: 50px;
   border-bottom: 5px solid #ffaee5;
}
#gnb li{
	float: left;
}
#gnb li a{
	display: block;
	height: 70px;
	padding: 0 20px;
	line-height: 70px;
	border: 5px solid transparent;
}
#gnb li a:hover{
	color: red;
	/*border-bottom: 5px solid red;*/
	 border-bottom-color: red;
}
#cake-list{
	width: 960px;
	margin: 0 auto;
}
#cake-list li{
	float: left;
	padding: 10px;
	background-color: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
#cake-list li span{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	width: 100px;
	height: 50px;
	border-top-left-radius: 30px;
	text-align: center;
	line-height: 50px;
}
#cake-list .top{
	position: absolute;
	left: -10px;
	top: -10px;
}




